:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #aaaaaa;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  background-color: var(--black);
  color: var(--white);
  /* Let Lenis handle smooth behavior to avoid double-easing */
  scroll-behavior: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


.love-light-regular {
  font-family: "Love Light", "Brush Script MT", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.luxurious-script-regular {
  font-family: "Luxurious Script", "Brush Script MT", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.great-vibes-regular {
  font-family: "Great Vibes", "Brush Script MT", cursive;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.rubik-burned-regular {
  font-family: "Rubik Burned", "Arial Black", system-ui;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.im-fell-great-primer-regular {
  font-family: "IM Fell Great Primer", "Times New Roman", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.im-fell-great-primer-regular-italic {
  font-family: "IM Fell Great Primer", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}